.time{
    position: absolute;
    top:27vh;
    left: 27vw;
    text-align: center;
}

.time h1{
    font-size:11rem ;
    font-weight:400;
    margin-bottom: -20px;
}

.time h2{
    font-size:3.5rem ;
    font-weight:490;
}

.time h3{
    margin-top: 10px;
    font-size:2.3rem ;
    font-weight:490;
}

.time hr{
    margin-top: 50px;
}